<template>
  <footer class="footer">
    <p>Copyright &copy; 2021</p>
    <router-link to="/about">About</router-link>
  </footer>
</template>

<style scoped>
a {
  color: #F4A261;
}
.footer {
  margin-top: 30px;
  text-align: center;
}
p {
  color: white;
}
</style>