<template>
  <div
    @dblclick="$emit('toggle-reminder', task.id)"
    :class="[task.reminder ? 'reminder' : '', 'task']"
  >
    <h3>
      {{ task.text }}
      <i @click="$emit('delete-task', task.id)" class="fas fa-times"></i>
    </h3>
    <p>{{ task.time }} {{ task.date }}</p>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: "Task",
  props: {
    task: Object,
  },
};
</script>

<style scope>
.fas {
  color: #2a9d8f;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #264653;
}
.task.reminder {
  border-left: 5px solid #e76f51;
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>